<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <clear />
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

        <httpModules>
            <clear />
        </httpModules>

        <httpHandlers>
            <clear />
        </httpHandlers>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
      

        <rewrite>
            <rules>
{% for directory in site.redirect_directories %}
<rule name="redirect-directory-{{ directory.path | replace: '/', '-' }}" enabled="true"><match url="^{{ directory.path }}/?$" /><conditions logicalGrouping="MatchAll"><add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" /></conditions><action type="Redirect" url="{{ directory.url }}" redirectType="Found" /></rule>
{% endfor %}
{% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
<rule name="redirect-page-{{ redirect | remove_first: '/' | replace: '/', '-' }}" enabled="true" stopProcessing="true"><match ignoreCase="false" url="^{{ redirect | remove_first: '/' }}$" /><action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" /></rule>
{% endfor %}{% endfor %}
                <rule name="redirect-" enabled="true" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="introduction" />
                </rule>
                <rule name="redirect_resources" enabled="true" stopProcessing="true">
                    <match url="(.*)\.Resources\.html$" />
                    <action type="None" />
                </rule>
                <rule name="remove_html_extension" enabled="true" stopProcessing="true">
                    <match url="(.*)\.html$" />
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <rule name="add_html_extension" enabled="true" stopProcessing="true">	
                    <match url="(.*)" />	
                    <conditions logicalGrouping="MatchAll">	
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />	
                    </conditions>	
                    <action type="Rewrite" url="{R:1}.html" />	
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="File" >
         <remove statusCode="403" />
		 <remove statusCode="404" />
		 <error statusCode="403" path="40x.html" />
         <error statusCode="404" path="40x.html" />
       </httpErrors>
    </system.webServer>

</configuration>
