@using BlazorDocsExamples.Client.Common

@inherits LayoutComponentBase

<TelerikRootComponent>
    <ThemeConfigurator />
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh">
        @Body
    </div>
</TelerikRootComponent>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
