name: CI

on:
  workflow_dispatch:
  # push:
  #   branches: [master, production]
  #   paths:
  #     - "**.md"
  # pull_request:
  #   branches: [master, production]

jobs:
  build_docs:
    uses: ./.github/workflows/build_docs.yml
    secrets: inherit