name: Pull Request To Production Closed
on:
  pull_request:
    branches: [production]
    types: [closed]
jobs:
  delete_production_branch:
    runs-on: ubuntu-22.04

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'

      - name: Delete branch
        run: |
          git push origin --delete ${{github.head_ref}}